<table class="data-panel">
  <thead>
    <tr>
      <th colspan="2">現金</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>繰越</th>
      <td style="text-align: right">3,020</td>
    </tr>
    <tr>
      <th>入金計</th>
      <td style="text-align: right">500</td>
    </tr>
    <tr>
      <th>出金計</th>
      <td style="text-align: right">1,020</td>
    </tr>
    <tr>
      <th>入出金計</th>
      <td style="text-align: right">-520</td>
    </tr>
    <tr>
      <th>現金残高</th>
      <td style="text-align: right">2,500</td>
    </tr>

  </tbody>
</table>
