<table class="data-panel">
  <thead>
    <th colspan="2">チップ</th>
  </thead>
  <tbody>
    <tr>
      <th>広告</th>
      <td style="background-color: #FCC;">8枚</td>
    </tr>
    <tr>
      <th>研究開発</th>
      <td style="background-color: #CCF;">8枚</td>
    </tr>
    <tr>
      <th>保険</th>
      <td>8枚</td>
    </tr>
    <tr>
      <th>PAC</th>
      <td style="background-color: #CFC;">8枚</td>
    </tr>
    <tr>
      <th>MD</th>
      <td style="background-color: #CFC;">8枚</td>
    </tr>
    <tr>
      <th>MR</th>
      <td style="background-color: #CFC;">8枚</td>
    </tr>
  </tbody>
</table>
