<div id="controll_panel_deal" class="widget">
  <h2 class="title">リスクに対処する</h2>
  <div class="content">
    <div class="table-container">
      <% Deal.buttons.each do |row| %>
        <div class="row-box">
          <% row.each do |key, value| %>
            <div class="cell-box"><%= button_tag key %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
