<%
deals = [
  {
    '1.特別サービス': {} ,
    '2.ワーカー退職': {},
    '3.商品の独占販売': {}
  },
  {
    '4.セールスマン退職': {},
    '5.研究開発成功': {},
    '6.クレーム発生': {}
  },
  {
    '7.ストライキ発生': {},
    '8.社長病気で倒る': {},
    '9.盗難発見': {},
  },
  {
    '10.製造ミス発生': {},
    '11.倉庫火災': {},
    '12.研究開発失敗': {},
  },
  {
    '13.消費者運動発生': {},
    '14.逆回り': {},
    '15.労災発生': {}
  },
  {
    '16.各社共通': {},
    '17.機械故障': {},
    '18.設計トラブル発生': {}
  }
]

%>
<div id="controll_panel_deal" class="widget">
  <h2 class="title">リスクに対処する</h2>
  <div class="content">
    <div class="table-container">
      <% deals.each do |row| %>
        <div class="row-box">
          <% row.each do |key, value| %>
            <div class="cell-box"><%= button_tag key %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
