<%
decision_once = [
  {
    材料購入: { large: true },
  },
  {
    完成・投入: { large: true },
  },
  {
    商品販売: { large: true },
  },
  {
    設備投資: { large: false },
    採用: { large: false },
  },
  {
    広告: { large: false },
    研究開発: { large: false },
  }
]
%>
<div id="decision_once" class="widget">
  <h2 class="title">意思決定（1回につき1項目選択）</h2>
  <div class="content">
    <div class="table-container">
      <% decision_once.each do |row| %>
        <div class="row-box">
          <div class="cell-box">
            <% if row.length == 1 %>
              <%= button_tag row.keys[0], class: 'single' %>
            <% else %>
              <% row.each do |key, value| %><%= button_tag key, class: 'double' -%><% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
