<table id="hanbai" class="data-panel">
  <thead>
    <tr>
      <th colspan="2">販売能力&nbsp;<strong>18</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="2">整備状況</th>
    </tr>
    <tr>
      <th>セールス</th>
      <td>3人</td>
    </tr>
    <tr>
      <th>広告</th>
      <td>8発</td>
    </tr>
    <tr>
      <th colspan="2">運用状況</th>
    </tr>
    <tr>
      <th>セールス</th>
      <td>3人&nbsp;<strong>+6</strong></td>
    </tr>
    <tr>
      <th>広告</th>
      <td>6発&nbsp;<strong>+12</strong></td>
    </tr>
  </tbody>
</table>
