<%
journals = [
  {
    'ア 売掛金入金': '',
    'イ 機械売却': '',
    'ウ 営業外収益': '',
    'エ 受取保険金': '',
  },
  {
    'オ 借入金': '',
    'カ 資本金': '',
    'キ 売上': '',
    'ク 貸付金': '',
  },
  {
    'ケ 機械工具': '',
    'コ 投入費': '',
    'サ 完成費': '',
    'シ 労務費': '',
  },
  {
    'ス 製造経費': '',
    'セ 販売費': '',
    'ソ 一般管理費': '',
    'タ 営業外費用': '',
  },
  {
    'チ 研究開発費': '',
    'ツ 材料購入': '',
    'テ 製品': '',
    'ト 特別損失': '',
  },
  {
    'ナ 借入金返済': '',
    '二 配当・納税': '',
    'ヌ 買掛金支払': ''
  }
]

%>
<div id="controll_panel_journal" class="widget">
  <h2 class="title">仕訳</h2>
  <div class="content">
    <div class="table-container">

      <% journals.each do |row| %>
        <div class="row-box">
          <% row.each do |key, value| %>
            <div class="cell-box">
              <%= button_tag key %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
