<div id="controll_panel_journal" class="widget">
  <h2 class="title">仕訳</h2>
  <div class="content">
    <div class="table-container">
      <% Journal.buttons.each do |row| %>
        <div class="row-box">
          <% row.each do |key, value| %>
            <div class="cell-box"><%= button_tag key, {
              id: value[:id],
              class: value[:gray] ? 'gray' : '',
              } %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
