<table id="kakaku" class="data-panel">
  <thead>
    <tr>
      <th colspan="2">価格競争力&nbsp;<strong>10</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>研究開発</th>
      <td>5発&nbsp;<strong>+10</strong></td>
    </tr>
  </tbody>
</table>
