<div id="canvas_log" class="widget">
  <h2 class="title">記録</h2>
  <div class="content">
    <% 100.times.each do %>
    <div>ログ</div>
    <% end %>
    <div>ああ亜ああああああ</div>
    <div>ああ亜ああああああ</div>
    <div>ああ亜ああああああ</div>
    <div>ああ亜ああああああ</div>
    <div>ああ亜ああああああ</div>
    <div>ああ亜ああああああ</div>
    <div>eof</div>
  </div>
</div>
