<table class="data-panel">
  <thead>
    <tr>
      <th colspan="2">営業所:商品</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>期首在庫</th>
      <td>8</td>
    </tr>
    <tr>
      <th>完成</th>
      <td>30</td>
    </tr>
    <tr>
      <th>売上</th>
      <td>35</td>
    </tr>
    <tr>
      <th>盗難</th>
      <td>1</td>
    </tr>
    <tr>
      <th>在庫</th>
      <td>2</td>
    </tr>
  </tbody>
</table>
