<table id="seisan" class="data-panel">
  <thead>
    <tr>
      <th colspan="2">生産能力&nbsp;<strong>13</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="2">整備状況</th>
    </tr>
    <tr>
      <th>ワーカー</th>
      <td>3人</td>
    </tr>
    <tr>
      <th>小型機械</th>
      <td>3台</td>
    </tr>
    <tr>
      <th>アタッチ</th>
      <td>2本</td>
    </tr>
    <tr>
      <th>大型機械</th>
      <td>1台</td>
    </tr>
    <tr>
      <th>PAC</th>
      <td>ON</td>
    </tr>
    <tr>
      <th colspan="2">運用状況</th>
    </tr>
    <tr>
      <th>小型AT付</th>
      <td>2台&nbsp;<strong>+4</strong></td>
    </tr>
    <tr>
      <th>小型AT無</th>
      <td>1台&nbsp;<strong>+1</strong></td>
    </tr>
    <tr>
      <th>大型機械</th>
      <td>1台&nbsp;<strong>+4</strong></td>
    </tr>
    <tr>
      <th>PAC</th>
      <td>3台&nbsp;<strong>+4</strong></td>
    </tr>
  </tbody>
</table>
