<div id="canvas">
  <div id="leftPain">
    <!-- div id="leftTopPain" -->
    <%= render partial: 'canvas/status'%>
    <!-- /div -->
    <!-- div id="leftBottomPain" -->
    <!-- /div -->
    <div class="widget">
      <h2 class="title">ボタンテスト</h2>
      <div class="content">
        <%= button_tag 'ダイアログ表示', id: 'show_daialog'%>
      </div>
    </div>
  </div>
  <div id="rightPain">
    <div id="rightTopPain">
      <%= render partial: 'canvas/controll_panel'%>
    </div>
    <div id="rightBottomPain"></div>
  </div>
  <div id="canvas_mask"></div>
</div>

<div id="canvas_dialog" class="widget">
  <h2 id="dialog_title" class="title"></h2>
  <div id="dialog_content" class="content"></div>
</div>
