<div id="canvas">
  <div id="leftPain">
    <!-- div id="leftTopPain" -->
    <%= render partial: 'canvas/status'%>
    <!-- /div -->
    <!-- div id="leftBottomPain" -->
    <!-- /div -->
    <div class="widget">
      <h2 class="title">ボタンテスト</h2>
      <div class="content">
        <%= button_tag 'ダイアログ表示', id: 'show_daialog'%>
      </div>
    </div>
  </div>
  <div id="rightPain">
    <div id="rightTopPain">
      <%= render partial: 'canvas/controll_panel'%>
    </div>
    <div id="rightBottomPain">
      <%= render partial: 'canvas/log'%>
    </div>
  </div>
  <div id="canvas_mask"></div>
</div>

<div id="canvas_dialog" class="widget">
  <h2 id="dialog_title" class="title">テスト</h2>
  <div id="dialog_content" class="content">
    <p>安倍晋三首相は8日放送のNHKの番組で、衆院解散・総選挙について「（2017年度）予算の早期成立に全力を尽くす。われわれはその間、解散の『か』の字も頭に浮かばないだろう」と述べた。(時事通信)</p>

  </div>
</div>
