button {
  &.green { background-color: #CFC; }
  &.red   { background-color: #FCC;}
  &.blue  { background-color: #CCF;}
}

button:hover {
  background-color: lemonchiffon;
  cursor: pointer;
}

button:active {
  background-color: orange;
}
