// Place all the styles related to the Dev controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
div.form-container {
  position: absolute;
  width: 480px;
  height: 100%;
  overflow: scroll;
}
*/
