div.widget {
  border: solid 1px silver;
  border-radius: 8px;
  margin: 5px;
  text-align: center;
  overflow: hidden;

  h2.title {
    margin: 0px;
    padding: 0px;
    font-size: 0.75em;
    line-height: 1.5em;
    background-color: silver;
    border-bottom: solid 1px silver;
  }

  div.content {
    padding: 10px 5px;
    background-color: white;

    div.flex-container {
       display: flex;
       width:100%;
       justify-content: center;
       //background-color: red;

      div.flex-box {
        //margin: 3px;
        //width: 33%;
        //background-color: green;
      }
    }

    div.table-container {
      display: table;
      width: 100%;

      div.row-box {
        display: table-row;
      }

      div.cell-box {
        display: table-cell;
        //margin: 3px;
      }
    }

  }
}

table.data-panel {
  font-size: 0.7em;
  //background-color: #FAF;
  border: solid 1px silver;
  margin: 0px;
  //margin-bottom: 8px;
  padding: 0px;
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;

  th, td {
    margin: 0px;
    padding: 3px;
    border-bottom: solid 1px whitesmoke;
  }

  tbody th {
    background-color: silver;
    width: 50%;
    font-weight: normal;

  }

  tbody td {
    background-color: white;
    border-left: solid 1px whitesmoke;
  }

  thead th {
    background-color: silver;
    border-bottom: solid 1px white;
    white-space: nowrap;
  }

  tbody tr:last-child th,
  tbody tr:last-child td {
    border-bottom: none;
  }
}

div.flex-container {
   display: flex;
   width:100%;
   justify-content: center;
   //background-color: red;

  div.flex-box {
    margin: 3px;
    //background-color: green;
  }
}

div.table-container {
  display: table;
  width: 100%;

  div.row-box {
    display: table-row;
    width: 100%;
  }

  div.cell-box {
    display: table-cell;
    padding: 1px;
    //width: 33%;
    //background-color: yellow;

  }
}
